@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

body,td,th,p{
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-size: 16px;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
  max-width: 1400px;
  margin: auto;
}

#maincontent {
  background-color: #F5F5F5;
  min-height: 100%;
  max-width: 1400px;
  margin: auto;
}

#footer {
  background-color: #444;
  color: #DBDBDB;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

footer {
  max-width: 1400px;
  margin: auto;
}

footer a {
  color: #fff;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  padding: 15px 0;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav h1 a:focus {
  outline: none;
  text-decoration: underline;
  color: #fff;
  font-weight: 400;
} 


/* ====================== Map ====================== */
#map-container {max-width: 1400px;;}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/*--------------------------------------------------------*/
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color:#14598A; 
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  
  }
  
  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  .inside #map {
    top: 119px;
    height: 250px;
  }
  
  #restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 127px 20px 30px 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  #restaurant-name {
    color: #14598A;
    font-weight: 400;
    margin: 30px 0 10px 30px;
    text-transform: uppercase;
    line-height: 1.1;
    width: 100%;
  }
  
  .rest-info{
      width: 100%;
  }
  
  .res-img {
    max-width: 100%;
    width: calc(50% - 10px);
    margin-left: 10px; 
  }
  #restaurant-img {
    width: 100%;
    border-radius: 5% 0;
  }
  
  .rest-info{
    width: 50%;
  }
  
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px 10px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  #restaurant-address, #restaurant-hours{
    font-size: 18px;
    margin: 10px 10px 10px 50px;
  }
  
  #restaurant-hours td {
    color: #666;
    vertical-align: top;
  }
  
  
  
  #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 20px 80px 20px;
  }
  
  #reviews-container h3 {
    color: #A52A2A;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1.1;
    width: 50%;
  }

  .new-review-wrap {
    margin:auto;
    width: calc(50% - 24px);
  }
  
  .new-review-wrap h4 {
    color: #A52A2A;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
  }

  .new-review-labels {
    font-size: 18px;
  }
  .new-review-author, .new-review-text, .new-review-rating {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .new-review-btn-wrap {
    width: 100%;
    text-align: right;
  }
    
  .new-review-btn {
    color: #fff;
    background-color:  #14598A;
    font-size: 1em;
  }


  .new-review-btn:hover, .new-review-btn:focus {
    background-color:#A52A2A;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  }

  .new-review-error > p {
    width: 100%;
    color: red;
  }

  #reviews-container h3, .no-review, .new-review-author, .new-review-text, .new-review-btn, .new-review-rating {
    padding: 10px;
    border-radius: 5px;
    border: 0;
  }

  #reviews-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  #reviews-list li:last-child {
    margin-bottom: 80px;
  }
  
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 10px 30px;
    position: relative;
    border-radius: 0 0 20px 0;
  }
  
  .review-head {
    width: 100%;
    background-color: #333;
    border-radius: 20px 0 0 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between; 
  }
  
  .review-head-back {
      background-color: #f3f3f3;
      color: #f3f3f3;
  }
  
  .review-name, .review-date {
      display: inline-block;
      margin: 0;
      border: 0 ;
      font-size: 18px;
      padding: 20px 20px;
  }
  .review-name {
      color: #f3f3f3;
  }
  
  .review-date {
      color: #d9d9d9;
      text-align: right;
  }
  
  .review-rating {
    font-size: 18px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #A52A2A;
    color: white;
    margin: 16px 0 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 60px;
  }
  
  .review-comments {
    font-size: 18px;
    padding: 0 20px;
  }
  
  .review-footer-container {
    position: absolute;
    width: 100%;
    text-align:  right;
    bottom: 0px;
    margin: auto;
  }

  .review-btn-link-delete,  .review-btn-link-edit{
    background:none!important;
    border:none; 
    padding:0!important;
    text-transform:  uppercase;
    font-size: .8em;
    font-weight: 700;
    font-family: roboto, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    cursor:pointer;
    margin: 0 15px;
  }

  .review-btn-link-delete {
    color:red;
  }

  .review-btn-link-edit {
    color:#14598A;
  }

  .review-btn-link-delete:hover, .review-btn-link-edit:hover{
    text-decoration: none;
  }

  .rating-no-stars{
     color: #888;
  }
  
  

  /******************************************/

  @media screen and (max-width: 450px) {
    nav h1 a {
        letter-spacing: 5px; 
        font-size: 0.6em;
    }
  
    #footer {
        font-size: 0.6em;
    }
  }
  
  @media screen and (min-width: 451px) and (max-width: 599px) {
    nav h1 a {
        font-size: 0.8em;
    }
  }

  @media screen and (max-width: 850px) {
    .res-img, .rest-info {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 499px) {
    #restaurant-address, #restaurant-hours, #breadcrumb li, #restaurant-cuisine,
    .review-name, .review-date, .review-rating, .review-comments, .new-review-wrap > * {
        font-size: 16px;
    }
    #restaurant-name, #reviews-container h2 {
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 399px) {
    #restaurant-address, #restaurant-hours, #breadcrumb li, #restaurant-cuisine,
    .review-name, .review-date, .review-rating, .review-comments, .new-review-wrap > * {
        font-size: 14px;
    }
  }
  
  @media screen and (min-width: 800px) {
    #reviews-list li {
        display: inline-block;
        width: calc(100% * (1/2) - 24px); /* border 2px + 10px margin */
    }
  }

  @media screen and (max-width: 800px) {
    #reviews-list li {
      width: 100%;
    }
    .new-review-wrap {
      width: calc(100% - 24px);
    }
  }